{% extends "base.html" %}
{% block content %}

        <h1>Delete Item</h1>
        <h2>Are you sure you want to delete {{category.name}}?</h2>

        <form action="{{url_for('deleteCategory', category_name = category.name)}}" method = "post">
            <div>
                <div>
                    <button type="submit" id="submit" type="submit">Delete</button>

                    <a href="{{url_for('showCategory', category_name=category.name)}}">
                        <button type="button">Cancel</button>
                    </a>
                </div>
            </div>
        </form>

{% endblock %}