{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
{% include "flash.html" %}

<!-- Page Content -->
<section id="itemDetail" class="section">

    <div class="container">

        <div class="row">

            {% include "categories.html" %}

            <div class="col-md-9 padding-top-49">

                <div class="thumbnail">
                    <img class="img-responsive" src="{{ item.picture }}" alt="{{ item.name }}">
                    <div class="caption-full">
                        <h6 class="pull-right padding-left-10">
                            <a href = "{{url_for('deleteItem', category_name = item.category.name, item_name = item.name)}}">Delete</a>
                        </h6>
                        <h6 class="pull-right">
                            <a href = "{{url_for('editItem', category_name = item.category.name, item_name = item.name)}}">Edit</a>
                        </h6>
                        <h4>{{ item.name }}</h4>
                        <p>{{ item.description }}</p>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section -->

{% endblock %}