<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('showCatalog')}}">
        <img class="brand-img" src="{{ url_for('static', filename='img/logo.png') }}" alt="Item Catalog Logo">
      </a>
      {% if 'username' not in session %}
      <a href="{{url_for('showLogin')}}" class="navbar-text navbar-margin-btn">
        <button type="button" class="btn btn-default navbar-btn">
        Log In
        </button>
      </a>
      {% else %}
      <a href="{{url_for('gdisconnect')}}" class="navbar-text navbar-margin-btn">
        <button type="button" class="btn btn-default navbar-btn">
        Logout
        </button>
      </a>
      {% endif %}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      {% if 'username' not in session %}
      {% else %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('addItem')}}">Add Item</a></li>
        <li><a href="{{url_for('addCategory')}}">Add Category</a></li>
      </ul>
      {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>