{% extends "base.html" %}

{% block title %}Catalog{% endblock title %}

{% block content %}
<h1>Categories</h1>
{% for c in categories %}
    <a href="{{url_for('showCategory', category_name = c.name,)}}"">
        {{ c.name }}
    </a>
{% endfor %}

<h1>Latest Items</h1>
{% for item in items %}
    <a href="{{url_for('showItem', category_name = item.category.name, item_name = item.name)}}">
        {{ item.name }}
        ({{ item.category.name }})
        <p>Last update: {{ item.date.strftime("%-d-%b-%Y at %I:%M %p") }}</p>
    </a>
{% endfor %}

{% endblock %}